.container {
    max-width: 1140px;
    margin: auto;
    padding-left: 1.50rem;
    padding-right: 1.50rem;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.list-inline {
    display: flex;
    list-style: none;
}

.align-items-end {
    align-items: flex-end;
}

:root {
    --blue-bg: #b5ddff;
    --blue-details: #0084fd;
    --purple: #9792e4;
    --orange: #fdc15f;
}