.container {
    max-width: 1140px;
    margin: auto;
    padding-left: 1.50rem;
    padding-right: 1.50rem;
}

/* FLEX */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

/* LISTE E LINK */
.list-inline {
    display: flex;
    list-style: none;
}

.list-inline * {
    padding: 0 7px;
}

.link-white {
    color: white;
    text-decoration: none;
}

.link-white:hover {
    text-decoration: underline;
}

/* COLORI */
:root {
    --blue-bg: #b5ddff;
    --blue-details: #0084fd;
    --purple: #9792e4;
    --orange: #fdc15f;
    --footer: #333333;
}

/* BOTTONI */
.btn-white {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-white a {
    color: black;
}

.btn-blue {
    background-color: var(--blue-details);
    border: none;
    border-radius: 20px;
    padding: 0.575rem 3rem;
    cursor: pointer;
}

.btn-blue a {
    color: white;
}