@import "reset.css";
@import "common.css";

/* ==============================
   ------------HEADER------------ 
   ============================== */

header {
    background-color: var(--blue-details);
    height: 4.5rem;
    color: white;
    z-index: 10;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%);
}

.logo {
    height: 75px;
}

.logo img {
    height: 40%;
    position: relative;
    top: -2px;
}

.hamburger {
    background-color: var(--blue-details);
    color: white;
    border: none;
    cursor: pointer;
    font-size: x-large;
}

.main-nav {
    display: none;
}

.main-nav .btn-white {
    margin-top: -4px;
}

/* DESKTOP */
@media screen and ( min-width: 992px ) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    body {
        margin-top: 72px;
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        display: block;
    }
}

/* ==============================
   -------------MAIN------------- 
   ============================== */

/* ------------SECTION 1: HIGHLIGHTS------------- */

.debug .card-inner {
    height: 200px;
}

section.highlights {
    padding-top: 50px;
    padding-bottom: 100px;
}

.highlights .col {
    border: 2px solid black;
    background-color: var(--blue-bg);
    color: var(--blue-details);
}

.highlights .col {
    width: 100%;
    margin: .625rem 0;
}

/* TABLET */
@media screen and ( min-width: 768px ) {

    .highlights .col {
        width: calc(100% / 3 - 15px);
    }

    .highlights .col:first-child {
        width: calc( (100% / 3) * 2 - 7px);
    }

}

/* ------------SECTION 2: STRATEGIC------------- */

section.strategic {
    background-color: var(--purple);
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}

.strategic .col {
    width: 100%;
    margin: .625rem 0;
}

.strategic .card-inner {
    background-color: white;
    color: black;
}

.strategic img {
    width: 100%;
    margin: auto;
}

/* DESKTOP */
@media screen and ( min-width: 992px ) {
    .strategic .col {
        width: 50%;
    }
}

/* -----------SECTION 2: TESTIMONIALS------------ */

.debug .testimonials-heading {
    border: 2px solid black;
}

section.testimonials {
    padding-top: 40px;
    padding-bottom: 50px;
}

.testimonials-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.testimonials .col {
    margin-top: 25px;
    margin-bottom: 20px;
    min-height: 250px;
    background-color: var(--purple);
}

.testimonials .col p {
    margin: auto;
}

.testimonials img {
    width: 40%;
    object-fit: cover;
    margin: 0 auto;
}

/* TABLET */
@media screen and ( min-width: 768px ) {
    .testimonials .col {
        flex-direction: row;
    }

    .testimonials img {
        margin: auto 0;
        width: 30%;
    }
}

/* -----------SECTION 3: BENEFITS------------ */

.benefits {
    background-color: var(--purple);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.benefits-heading {
    text-align: center;
    padding-bottom: 40px;
}

.benefits .col {
    background-color: white;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 30px;
    color: black;
}

/* TABLET */
@media screen and ( min-width: 768px ) {
    .benefits .col {
        width: calc(100%/2 - 15px);
    }
}

/* DESKTOP */
@media screen and ( min-width: 992px ) {
    .benefits .col {
        width: calc(100%/3 - 15px);
    }
}

/* -----------SECTION 3: ABOUT US------------ */

.debug .about-us .col {
    border: 2px solid black;
}

.about-us {
    padding-top: 100px;
    padding-bottom: 80px;
}

.about-us h2 {
    color: var(--purple);
}

.about-us .col {
    width: 100%;
}

.about-us img {
    width: 40%;
    object-fit: cover;
    margin: 0 auto;
}

.about-us button {
    display: block;
}

/* TABLET & DESKTOP */
@media screen and ( min-width: 768px ) {
    .about-us .container {
        display: flex;
    }

    .about-us .col.flex-column {
        flex-direction: column-reverse;
    }
}

.get-started {
    background-color: var(--purple);
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 2px solid black;
}

/* ==============================
   ------------FOOTER------------ 
   ============================== */

footer {
    background-color: var(--footer);
    color: lightgray;
    text-align: center;
}

footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p:first-child {
    margin-bottom: 80px;
}