* {
    font-family: 'PT Sans', sans-serif;
}

p {
    line-height: 1.5;
}

/* ==========================================
   -----------SEZIONE 1: HIGHLIGHTS---------- 
   ========================================== */

.highlights h4 {
    font-size: 1.5rem;
    margin: 1.563rem 0;
}

.highlights p {
    color: #5a6e7f;
    font-weight: bold;
    font-size: 1.063rem;
    margin-bottom: 1.563rem;
}

.highlights .btn-blue {
    letter-spacing: 0.125rem;
    font-weight: bold;
    font-size: 1.05rem;
}

/* ==========================================
   -----------SEZIONE 2: STRATEGIC---------- 
   ========================================== */

.strategic h3 {
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
    font-size: 2.188rem;
}

.strategic h4 {
    font-size: 1.563rem;
    margin: 1.25rem 0;
}

.strategic .card-inner p {
    font-style: italic;
}

/* TABLET */
@media screen and ( min-width: 768px ) {

    .strategic h3 {
        font-size: 3.75rem;
    }

}

/* DESKTOP */
@media screen and ( min-width: 992px ) {

    .strategic h3 {
        font-size: 2.188rem;
    }

}

/* ==========================================
   ----------SEZIONE 3: TESTIMONIALS--------- 
   ========================================== */

.testimonials h2 {
    color: var(--purple);
    font-size: 1.875rem;
    margin: 1.875rem 0;
}

.testimonials span {
    font-size: 1.25rem;
    font-weight: bold;
}

.testimonials span:last-child {
    margin-top: 1.25rem;
    display: block;
}

/* TABLET & DESKTOP */
@media screen and ( min-width: 768px ) {

    .testimonials p {
        text-align: left;
        padding-left: 20px;
    }

}

/* ==========================================
   ------------SEZIONE 4: BENEFITS----------- 
   ========================================== */

.benefits h2 {
    font-size: 2.188rem;
}

.benefits h3, .benefits h4 {
    color: var(--purple);
}

.benefits h3 {
    font-size: 3.125rem;
}

.benefits h4 {
    font-size: 1.25rem;
}

.benefits .btn-purple {
    letter-spacing: 0.125rem;
    font-weight: bold;
}

/* ==========================================
   ------------SEZIONE 5: ABOUT US----------- 
   ========================================== */

.about-us h2 {
    color: var(--purple);
    font-size: 3.125rem;
    margin-bottom: 2.5rem;
}

p.description {
    color: var(--purple);
    font-weight: bold;
    font-size: 1.563rem;
}

/* ==========================================
------------SEZIONE 6: GET STARTED----------- 
========================================== */

.get-started p span:nth-child(1){
    color: lightgray;
    letter-spacing: 0.125rem;
    margin-bottom: 0.625rem;
}

.get-started p span:nth-child(2){
    font-weight: bold;
    font-size: 1.875rem;
}

.get-started p span:nth-child(3){
    font-weight: bold;
    font-size: 3.438rem;
    color: var(--orange);
    margin: 0.938 0;
}

.get-started .btn-white {
    width: 300px;
    margin: auto;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 20px 60px;
    border-radius: 40px;
    letter-spacing: 0.125rem;
    margin: 1.563rem auto;
}

.get-started .btn-white a {
    color: var(--purple);
}

.get-started #privacy{
    text-decoration: underline;
    text-decoration-color: white;
    display: inline-block;
}

/* DESKTOP */
@media screen and ( min-width: 992px ) {

    .get-started p {
        padding: 0 200px;
    }

}